@import '../../../config/mixin.scss';
@import '../../../config/variables/colors.scss';

.btn {
  @include primaryBtn();

  &:hover {
    background-color: $Primary-300;
  }

  &:disabled {
    background-color: $Primary-50;
    color: $Neutrals-600;
  }
}
