@import '../../config/mixin.scss';
@import '../../config/variables/offsets.scss';

.titleWrapper {
  @include container();
  margin: $offset-large auto;

  h1 {
    @include h1Styles();
    max-width: 975px;
    margin: 0 0 $offset-small 0;
  }

  p {
    @include h4Styles();
    max-width: 975px;
    margin: 0;
  }
}
