@import '../../config/mixin.scss';

.titleWrapper {
  @include container();
  padding: 200px 0;

  h1 {
    @include h1Styles();
    max-width: 975px;
    margin: 0 0 40px 0;
  }

  p {
    @include h4Styles();
    max-width: 975px;
    margin: 0;
  }
}
