@import '../../../config/mixin.scss';
@import '../../../config/variables/colors.scss';
@import '../../../config/variables/offsets.scss';

.courseBlock {
  border-radius: 5px 5px 45px 45px;
  border: 0.5px solid $Primary-700;
  background: linear-gradient(135deg, $Primary-800 0%, rgba(58, 63, 0, 0) 100%);
  margin: 0 auto $offset-small;
  display: flex;

  &.row {
    gap: 0;
  }
}

.courseBlockLeft {
  border-right: 0.5px solid $Primary-700;
  padding: $offset-small;
  width: 70%;

  h2 {
    @include h2Styles();
    margin: 0 auto $offset-small;
  }

  svg {
    vertical-align: top;
    text-align: center;
    width: 20%;
  }
}

.courseParticularWrapper {
  display: inline-block;
  width: 80%;

  .courseParticularDescription {
    @include paragraphMedium();
    color: $Neutrals-200;
    margin-bottom: 24px;
  }
}
