$Neutrals-White: #ffffff;
$Neutrals-50: #f7f9fa;
$Neutrals-100: #f1f2f3;
$Neutrals-200: #e2e4e7;
$Neutrals-300: #c5c9ce;
$Neutrals-400: #a7afb6;
$Neutrals-500: #8a949d;
$Neutrals-500: #8a949d;
$Neutrals-600: #6d7985;
$Neutrals-700: #3c4d5d;
$Neutrals-800: #091929;
$Neutrals-900: #06101a;

$Primary-50: #fdffe6;
$Primary-100: #fbffcc;
$Primary-200: #f6fe99;
$Primary-300: #f2fe66;
$Primary-400: #edfd33;
$Primary-500: #e9fd00;
$Primary-600: #afbe00;
$Primary-700: #757f00;
$Primary-800: #3a3f00;
$Primary-900: #171900;

$Status-Attention: #ff7676;
