@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,500&display=swap');

@import './config/variables/colors.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 60px;
  letter-spacing: 0.8px;
  background-color: black;
  color: $Neutrals-White;
}
