@import './config/fonts.scss';
@import './config/variables/colors.scss';
@import './config/variables/layout.scss';
@import './config/mixin.scss';

body {
  margin: 0;
  padding: 0;
  @include paragraphSmall();
  background-color: $Neutrals-900;
  color: $Neutrals-White;
  background-image: url(../public/background-first-screen.png);
  background-repeat: no-repeat;
}

p {
  margin-top: 0;
  margin-bottom: $offset-article;
}

p:last-child {
  margin-bottom: 0;
}
